

.bloco-destaque {
    display: flex
;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    justify-content: flex-start;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}
